@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  @apply transition-all duration-300 ease-in-out dark:bg-[#101010];
}

.poppins {
  font-family: "Poppins", sans-serif;
}
/* Themes */
.theme {
  @apply bg-[#f8f8f8] dark:bg-[#0B0E14];
}

.text-theme {
  @apply text-black dark:text-[#F0F6FC];
}

.theme-transparent {
  @apply bg-gray-600/30;
}
.border-theme {
  @apply border border-gray-300 dark:border-gray-400;
}

.theme-alt {
  @apply dark:bg-[#f8f8f8] bg-[#121212];
  @apply transition-all duration-200 cursor-pointer;

  @apply hover:opacity-90 dark:hover:opacity-90;

  @apply active:opacity-80 active:scale-[0.98];

  @apply focus:outline-none focus:ring-2 focus:ring-offset-2;
  @apply dark:focus:ring-[#f8f8f8] focus:ring-[#121212];

  @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none;
}

.text-theme-alt {
  @apply dark:text-black text-white;

  @apply group-hover:opacity-90;
}

.hover-transition {
  @apply transition-all duration-300 ease-in-out;
}

/* Removes the focus border specifically inside the drawer */
[role="dialog"] button:focus,
[role="dialog"] a:focus {
  outline: none !important;
  box-shadow: none !important;
}

.hide-scrollbar {
  scrollbar-width: none;
}
.btn-primary {
  @apply rounded-md p-2 text-nowrap  sm:p-3 ease-in-out transition-all duration-300;
}

.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5)), url("./assets/images/heroImage.webp");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

.sales-card {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6)), url("./assets/images/salesImage.webp");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
