@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
  @apply transition-all duration-300 ease-in-out dark:bg-[#101010];
}

.poppins {
  font-family: "Poppins", sans-serif;
}
.headers {
  @apply font-medium w-full text-center text-2xl sm:text-4xl;
}

.para {
  @apply text-gray-200 dark:text-gray-400 sm:text-lg;
}
/* Themes */
.theme {
  @apply bg-[#f8f8f8] dark:bg-[#121212];
}

.text-theme {
  @apply text-black dark:text-white;
}

.theme-transparent {
  @apply bg-gray-600/30;
}
.border-theme {
  @apply border border-gray-300 dark:border-gray-400;
}
.theme-alt {
  @apply dark:bg-[#f8f8f8] bg-[#121212];
}

.text-theme-alt {
  @apply dark:text-black text-white;
}

.hover-transition {
  @apply transition-all duration-300 ease-in-out;
}

.hide-scrollbar {
  scrollbar-width: none;
}
.btn-primary {
  @apply rounded-md p-2 text-nowrap  sm:p-4 ease-in-out transition-all duration-300;
}

.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3)), url("./assets/images/heroImage.webp");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
.sales-card {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6)), url("./assets/images/heroImage.webp");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

/* Images Banner's Animations */
@keyframes infinite_scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@layer utilities {
  .animate-infinite-scroll {
    animation: infinite_scroll 25s linear infinite;
  }
  .animate-infinite-scroll:hover {
    animation-play-state: paused;
  }
}
