@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  @apply transition-all duration-300 ease-in-out;
}

.dark {
  @apply bg-gray-800 text-white transition-all duration-300 ease-in-out;
}
.dark .dark-text {
  @apply text-white;
}
.dark .navbar,
.dark .card-img {
  @apply bg-gray-900;
}
.dark .filter-button-input-style {
  @apply text-black;
}

.mask-img {
  mask-image: linear-gradient(to right, transparent 0%, black 20%);
  -webkit-mask-image: linear-gradient(to right, transparent, black);
}
.hover-transition {
  @apply transition-all duration-300 ease-in-out;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.filter-button-input-style {
  @apply border   border-gray-400 text-nowrap hover:bg-gray-200 px-4 py-3 rounded-xl bg-gray-100 max-w-[150px];
}

.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6)),
    url("./assets/bg-images/heroImage.webp");
  background-position: center;
  background-size: cover;
}
.login-img {
  background: url("./assets/images/loginImage.svg");
  background-position: center;
  background-size: cover;
}

@keyframes infinite_scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@layer utilities {
  .animate-infinite-scroll {
    animation: infinite_scroll 25s linear infinite;
  }
  .animate-infinite-scroll:hover {
    animation-play-state: paused;
  }
}

/* Primary colors */
.bg-primary {
  @apply bg-[#fbe4d8] hover:bg-[#e3cfc4];
}

.btn-primary {
  @apply rounded-md py-2 px-4 ease-in-out transition-all duration-300;
}

.text-primary {
  @apply text-gray-400 hover:text-white;
}

/* Accent colors */
.bg-accent {
  @apply bg-[#522b5b] hover:bg-[#3b1e42];
}
